/* ********Resets******** */
:root{
  --first-color: #2E6485;
  --first-alpha-color: rgba(46, 100, 133, 0.54);
  --header-movile-color: rgba(99, 132, 153, 0.6);
  --second-color: rgba(176, 181, 235, 1);
  --second-alpha-color: rgba(176, 181, 235, 0.67);
  --white-color: #FFFFFF;
  --text-color: #1D3D52;
  --font: 'Raleway', sans-serif;
  --font-signature: 'Vujahday Script', cursive;
  --max-width: 1200px;
  --header-opacity: rgba(99, 132, 153, 0);
  --black-alpha-color: rgba(0,0,0,0.5);



}


html{
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;

}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  overflow-x: hidden;
  margin: 0;
  
}

h1{
  margin: 0;
}
h3{
  margin: 0;
}
h5{
  margin: 0;
}

/* ***********Components*********** */

  /* ***********menú*********** */

.menu-btn{
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-alpha-color);
}

.menu-btn svg{
  fill: var(--first-color);
}

/* ***********Utilities*********** */

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}
        /***subline Title ***/
.subline-title:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 3px;
  transition: all .8s;
  }
.subline-title:hover:after {
  width: 150px;
  background: #333;
 }

 .subline-title{
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  color: #333;
  text-decoration: none;
  text-align: center;
 
  
  
}

/* ***********Site Styles*********** */
.header{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: 4rem;
  background-color: var(--header-movile-color);
}
.header > .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  position: fixed;
  left: 0;
  bottom: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(29, 61, 82, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active{
  opacity: 1;
  pointer-events: auto;
}

.menu a{
  text-align: center;
  text-decoration: none;
  padding: .5rem;
  color: var(--second-color);
  font-weight: bold;
}

.menu a:hover{
  color: var(--white-color);
  background-color: var(--first-alpha-color);
}

.logo a{
  color: var(--white-color);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}
.none{
  display: none;
}

@media screen and (min-width: 1024px) {
  .header{
    position: absolute;
    top: 0;
    background-color: var(--header-opacity);
  }
  
  .menu-btn{
    display: none;
  }

  .menu{
    opacity: 1;
    position: static;
    width: auto;
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--header-opacity);
    color: var(--white-color);
   
  }

  .menu a{
    color: var(--white-color);
  }

  .menu a:hover{
    color: var(--header-movile-color);
  }
}


/********************hero Image***************/

.hero-image{
 
  left: 0;
  top: 0;
  width: 100vw;
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}
.hero-image-opacity{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--black-alpha-color);
}

.hero-image-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image-title{
  color: var(--white-color);
  font-size: 6.5vw;
  font-weight: bold;
  padding-bottom: 20px;
 
}
.hero-image-subtitle{
  color: var(--white-color);
  font-size: 4vw;
  font-weight: bold;
  padding-bottom: 20px;
  
}

.hero-image-subtitle span{
  font-weight: lighter;
}

.btn{
  border-radius: .5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

.about{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}





.contend-about{
  display: flex;
  flex-direction: column;
  overflow: hidden ;
  justify-content: center;
  align-items: center;

}



.about-photo{
  width: 100%;
}

.about-photo img{
  width: 100vw;
  height: auto;
  padding-right: 20px;
}

.information-description{
  font-size: 15px;
  color: #686666;   
}
.information-description p{
  text-align: justify;
}

.information-stack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stack-title{
  margin-top: 20px;
}

.carrucel-icons{
  margin: 20px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.carrucel-icons svg{
  width: 2.5rem;
  margin-right: 10px;
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease; 
  -ms-transition:all .9s ease; 

}

.carrucel-icons svg:hover{
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
}

@media screen and (min-width:1024px){
  .contend-about{
    flex-direction: row;
    margin: 0 100px;
    justify-content: center;
    align-items: center;
  }
  .about-photo img{
    width: 80%;
  }
  .about-information{
    width: 100%;
  }
  .information-description p{
    font-size: 20px;
  }
  .about-title{
    margin: 50px 0;
  }
  .carrucel-icons svg{
    width: 3.5rem;
  }
}

.portfolio{

  background-color: #9e9c9c2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-portfolio{
  width: 100%;
  margin-bottom: 50px;
  
}

.content-portfolio img{
  width: 100%;
}

.description-portfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.description-portfolio p{
  text-align: center;
}
.tecnologies{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tecnologies span{
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: var(--second-color);
}
.portfolio-links{
  width: 100%;
  background-color: var(--first-color);
  display: flex;
  justify-content: space-between;
}
.portfolio-icon{
  width: 25px;
  fill: white;
  margin: 5px;
  
}

.portfolio-links a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.portfolio-links a span{
  color: white;
  font-size: 12px;
  margin-right: 10px;
}

@media screen and (min-width:1024px){
  .content-portfolio{
    width: 100%;
    display: flex;
    position: relative;
  }
  .content-portfolio img{
    width: 60%;
    position: relative;
    left: 10%;
    
  }

  .description-portfolio{
    width: 40%;
    background-color: #FFFFFF;
    position: absolute;
    right: 10%;
    top: 15%;
    border-radius: .5rem;
    -webkit-box-shadow: 0px 0px 43px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 43px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 43px -16px rgba(0,0,0,0.75);
  }
  .portfolio-links{
    border-radius: 0 0 .5rem  .5rem;
  }
  .description-portfolio p{
    margin: 10px;
  }
}


.box-shadow{
  -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
}

.contact-cards{
  margin: 0 20px;
}

.contact-card{
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-card > svg{
  width: 2rem;
  height: 2rem;
}

.contact-card > small{
  margin-top: -1rem;
}

@media screen and (min-width: 768px){
  .contact-cards{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

}

@media screen and (min-width: 1024px){
  .contact-cards{
    grid-template-columns: repeat(4, 24%);
  }
}


.contact-form{
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  width: 100%;
}
.contact-form input, 
.contact-form textarea{
  font-family: var(--font);
  font-size: 0.85rem;
}

.contact-form input{
  border: 0;
  border-bottom: thin solid var(--black-alpha-color);
  padding-left: 0;
}

.contact-form textarea{
  border: thin solid var(--black-alpha-color);
  resize: none;
}

.contact-form input[type="submit"]{
  margin-top: 0;
  cursor: pointer;
  transition: all .5s ease-out;
}
.contact-form input:hover[type="submit"]{
  opacity: .85;
}

.text-center{
  text-align: center;
}

@media screen and (min-width:1024px){
  .contact-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .contact-form textarea,
  .contact-form-loader,
  .contact-form input[type="submit"] {
    grid-column: span 2;
  }
}



